@use 'colors' as c;

$font-primary: "Kumbh Sans", sans-serif;

h1 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.131875rem;
  text-align: center;
  color: c.$color-secondary;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 0.88rem;
  text-align: center;
  color: c.$color-tertiary;
}

.card__age {
  font-weight: 400;
  color: c.$color-tertiary;
}

.card__stat {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.131875rem;
  text-transform: uppercase;

  color: c.$color-secondary;
}

.card__stat > span {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.6625rem;
  letter-spacing: 0.09375rem;
  text-align: center;
  text-transform: initial;
  color: c.$color-tertiary;
  margin-top: 0.5625rem;
  display: block;
}

.attribution {
  color: c.$color-secondary;
  text-align: center;
  line-height: 1.6rem;
  padding: 1rem;

  & a {
    color: #fff;
  }
}
