@use 'abstract/typography' as t;
@use 'abstract/colors' as c;
@use 'abstract/variables' as v;
@use 'components/card' as card;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: t.$font-primary;
  background-color: c.$color-primary;
}

.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);

  background-repeat: no-repeat, no-repeat;
  background-size: 61.125rem, 61.125rem;
  background-position: top -31.9375rem left -17.9375rem,
    bottom -39.4375rem right -14.4375rem;

  @media only screen and (max-width: v.$bp-large) {
    background-size: 37rem, 37rem;
    background-position: top -19rem left -8rem, bottom -18rem right -10rem;
  }

  @media only screen and (max-width: v.$bp-medium) {
    background-position: top -15rem left -15rem, bottom -18rem right -12rem;
  }

  @media only screen and (max-width: v.$bp-small) {
    background-position: top -15rem left -25rem, bottom -18rem right -20rem;
  }

  @media only screen and (max-width: v.$bp-smallest) {
    background-size: 38.875rem, 38.875rem;
    background-position: top -22.1875rem left -25.6875rem,
      bottom -19.5rem right -25.6875rem;
  }
}

.attribution {
  position: absolute;
  bottom: 2rem;
  @media only screen and (max-width: v.$bp-small) {
    font-size: 0.75rem;
  }
}
